{% extends 'base.html.twig' %}
    {% block title %}
        Suppression de {{  ter.nomSujet }}{% endblock %}

{% block body %}
    <h1> Suppression de {{  ter.nomSujet }}</h1>

    {{ form_start(form, {'method': 'POST','attr': {'class': 'd-flex'}}) }}
    {{ form_widget(form.delete, {'attr': {'class': 'btn-danger'}}) }}
    {{ form_widget(form.cancel, {'attr': {'class': 'btn-secondary'}}) }}
    {{ form_end(form) }}
{% endblock %}


